
torch==2.2.2
torchvision==0.16.2
torchaudio==2.2.2

streamlit==1.48.1
chromadb
requests
pandas
regex
arxiv
datasets
langchain
unstructured[local-inference]
pdfminer.six
pi-heif
pdf2image
pillow-heif
python-magic
duckdb
spacy
dlt
opencv-python<4.12
numpy==1.26.4
transformers==4.44.2
sentence-transformers==2.2.2
setfit==0.7.0
onnxruntime
optimum
huggingface_hub==0.23.3

# git package (if needed)
git+https://github.com/FlagOpen/FlagEmbedding.git
